.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;

  &__title {
    font-family: "Shrikhand", cursive;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 15px;
  }
  &__icone {
    margin-left: auto;
    margin-right: 25px;
    font-size: x-large;
  }
  &__img-container {
    background-image: url("../images/restaurants/a_l_a_francaise.jpg");
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    position: absolute;
  }
  &__wrapper {
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;

    margin-top: 180px;
    position: relative;
  }
  &__course {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin-left: 15px;
  }

  @media screen and (min-width: 425px) {
    &__img-container {
      height: 300px;
    }

    &__wrapper {
      margin-top: 280px;
    }
  }

  @media screen and (min-width: 880px) {
    &__img-container {
      height: 400px;
    }
    &__wrapper {
      margin-top: 380px;
      align-items: center;
    }
    &__course {
      align-items: center;
    }
    &__title {
      min-width: 450px;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 1440px) {
    &__img-container {
      height: 500px;
    }

    &__wrapper {
      margin-top: 480px;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: center;
}

.course {
  &__title {
    max-width: 40px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(156, 156, 156);
    border-bottom: solid 2px $mint;
    font-size: small;
  }
  &__label {
    background-color: white;
    display: flex;
    align-items: center;
    max-width: 446px;
    margin-right: 30px;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 50px;
    opacity: 0;
    animation: reveal-label 1s;
    overflow: hidden;
    &:nth-of-type(2) {
      animation-delay: 100ms;
    }
    &:nth-of-type(3) {
      animation-delay: 200ms;
    }
    &:nth-of-type(4) {
      animation-delay: 300ms;
    }
    &:nth-of-type(5) {
      animation-delay: 400ms;
    }
    &:nth-of-type(6) {
      animation-delay: 500ms;
    }
    &:nth-of-type(7) {
      animation-delay: 600ms;
    }
    &:nth-of-type(8) {
      animation-delay: 700ms;
    }
    &:nth-of-type(9) {
      animation-delay: 800ms;
    }
    &:nth-of-type(10) {
      animation-delay: 900ms;
    }
    &:nth-of-type(11) {
      animation-delay: 1000ms;
    }
    &:nth-of-type(12) {
      animation-delay: 1100ms;
    }
    &:nth-of-type(13) {
      animation-delay: 1200ms;
    }
    animation-fill-mode: forwards;
      &:hover, &:focus {
        .course__checkmark{
        width: 60px;
      }
      .course__checkmark-icone{
        animation: check-spin 1s reverse;
        animation-fill-mode: forwards;
      }
    }
  }
  &__dish {
    font-size: small;
    width: 319px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__dish > * {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__dish--bold {
    font-weight: 900;
  }
  &__price {
    font-weight: bold;
    padding-top: 15px;
    margin-right: 10px;
  }
  &__checkmark {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: $mint;
    height: 100%;
    width: 0;
    transition: width 1s ease-in-out;
  }
  &__checkmark-icone {
    text-align: center;
    color: white;
    font-size: x-large;
    padding: 10px;
    
  }
  @media screen and (min-width: 425px) {
    &__dish {
      margin-right: 180px;
    }
  }
  @media screen and (min-width: 768px) {
    &__dish {
      margin-right: 480px;
    }
  }
  @media screen and (min-width: 1024px) {
    &__dish {
      margin-right: 80px;
    }
  }
}
